/* -- RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  display: block;
}

/* --CUSTOM PROPS */

:root {
  --main-color: rgba(255, 0, 0, 0.236);

  /* tail position and tail-sizing */
  --square-size: 100px;
  --border-size: 2px;
}

/* -- DEBUG */

.db {
  background-color: rgba(255, 0, 0, 0.236);
  border: 3px dashed black;
  background-clip: content-box;
  /* min-height: 50px; */
}

.db-content > * {
  background-color: rgba(255, 0, 0, 0.236);
  border: 2px dotted black;
  background-clip: content-box;
  /* min-height: 50px; */
}

.db i::after {
  content: "ℹ️";
}

/* ---------------------------------------- */

.container {
  padding: 0 30px;
}

#tails-wrapper {
  /* width: calc(var(--square-size) * 6); */
  display: flex;
  flex-wrap: wrap;
}

.tail {
  /* background-color: brown; */
  transition: background-color 0.2s;
}

.tail:hover {
  opacity: 0.8;
}

.tail.up {
  height: calc(var(--square-size) / 2);
  width: var(--square-size);

  clip-path: polygon(0 0, 50% 100%, 100% 0);

  margin-right: calc(var(--border-size) / 2);
}
.tail.down {
  height: calc(var(--square-size) / 2);
  width: var(--square-size);

  clip-path: polygon(0 100%, 50% 0, 100% 100%);

  margin-bottom: calc(var(--border-size) / 2);
  margin-right: calc(var(--border-size) / 2);
}
.tail.left {
  height: var(--square-size);
  width: calc(var(--square-size) / 2);

  clip-path: polygon(0 0, 100% 50%, 0 100%);

  margin-top: calc((var(--square-size) / 2 - var(--border-size)) * -1);
  margin-bottom: calc((var(--square-size) / 2 - var(--border-size)) * -1);
}
.tail.right {
  height: var(--square-size);
  width: calc(var(--square-size) / 2);

  clip-path: polygon(100% 0, 0 50%, 100% 100%);

  margin-top: calc((var(--square-size) / 2 - var(--border-size)) * -1);
  margin-bottom: calc((var(--square-size) / 2 - var(--border-size)) * -1);
  margin-right: calc(var(--border-size) / 2);
  /* margin-left: var(--border-size); */
}

.gameboard {
  display: flex;
  gap: 20px;
}

#color-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.palet {
  flex-grow: 1;
  cursor: pointer;
}

.palet.blue {
  background-color: rgb(29, 159, 225);
}

.palet.green {
  background-color: rgb(25, 242, 83);
}

.palet.yellow {
  background-color: rgb(227, 231, 29);
}

#draw-mode,
#solve-mode,
.bottom-text {
  padding: 10px;
  margin: 10px 10px 10px 0;
}

#draw-mode,
#solve-mode {
  border: 1px solid black;
  display: inline-block;
}

.mode-on {
  background-color: black;
  color: white;
}
